@charset "utf-8";
body {
    width:900px;
    margin:20px auto;  /*←上下マージン20px、左右はautoでセンター合わせに*/
}
header, nav, article, aside, section, footer {
    display:block;  /*←新要素はデフォルトではinline要素なのでこの指定が必要。*/
}
header, nav, article, aside, section, footer {
    border:1px solid #ccc;  /*←各ブロックに枠線をつけてわかりやすくしました。*/
    margin:0px 0px 10px;
    padding:20px;
}
header {
    text-align:center;
}
nav {
    text-align:center;
    padding:5px;
    }
nav ul, nav li {
    list-style-type:none;
    display:inline;  /*←display:inlineでli要素を横並びに。*/
    padding:0px 10px;
}
nav h1 {
    display:none;  /*←display:noneで非表示にする。CSSが無効の時は見える。*/
}
article {
    float:left;  /*←article（メインブロック）はfloat:leftで左寄せに。*/
    width:620px;
}
aside {
    float:right;  /*←aside（サイドバー）はfloat:rightで右寄せに。*/
    width:180px;
}
footer {
    clear:both;  /*←articleとasideのfloatを、これでクリア。*/
    text-align: center;
    padding: 5px;
    font-size: 80%;
}


/*--マークダウン用------------------------------*/
table  { border-collapse: collapse; }
th, td { border:1px solid #999; padding:2px 5px; }
th     { background:#e0e0e0; }

/*ブログタイトル*/
.title{
    font-size: 2.2rem;
    background:linear-gradient(transparent 95%, #999 0%);
    margin: 0 !important;
    padding: 0 !important;
}
/*投稿時間*/
.time{
    font-size: 0.9rem;
    text-align: right;
    margin: 0 !important;
    padding: 0 !important;
}
/*投稿タグ*/
.tag{
    font-size: 0.9rem;
    text-align: right;
    margin: 0 !important;
    padding: 1.3px !important;
    border: solid 1px #999;
    display: inline-block;
}
/*プロフィール画像*/
.profile{
    width: 100%;
    height: 100%;
}
/*SNS画像(アイコン)*/
.sns{
    width: 30%;
}
/*SNSの文字*/
.sns_text{
    margin: 0;
    margin-top: 7px !important;
    padding: 0;
}

/*検索ボックス*/
.search_container{
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .search_container input[type="text"]{
    background: #ccddf5;
    border: none;
    height: 35px;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    outline : none;
    width: 3.0em;
    height: 37px;
  }