@charset "utf-8";
/*h1リセット*/
h1{
    margin: 0 !important;
    padding: 1.3px !important;
}
/*aタグの下線を消す*/
.notext-decoration{
    text-decoration: none;
    color: black;
}
.navTop{
    text-decoration: none;
    color: black;
}
.inline-block {
    display: inline-block;      /* インラインブロック要素にする */
}

body {
    width:900px;
    margin:20px auto;  /*←上下マージン20px、左右はautoでセンター合わせに*/
}
header, nav, article, aside, section, footer {
    display:block;  /*←新要素はデフォルトではinline要素なのでこの指定が必要。*/
}
header, nav, article, aside, section, footer {
    border:1px solid #ccc;  /*←各ブロックに枠線をつけてわかりやすくしました。*/
    margin:0px 0px 10px;
    padding:20px;
}
header {
    text-align:center;
}
nav {
    text-align:center;
    padding:5px;
    }
nav ul, nav li {
    list-style-type:none;
    display:inline;  /*←display:inlineでli要素を横並びに。*/
    padding:0px 10px;
}
nav h1 {
    display:none;  /*←display:noneで非表示にする。CSSが無効の時は見える。*/
}
article {
    float:left;  /*←article（メインブロック）はfloat:leftで左寄せに。*/
    width:620px;
}
aside {
    float:right;  /*←aside（サイドバー）はfloat:rightで右寄せに。*/
    width:180px;
}
footer {
    clear:both;  /*←articleとasideのfloatを、これでクリア。*/
    text-align: center;
    padding: 5px;
    font-size: 80%;
}


/*--マークダウン用------------------------------*/
table  { border-collapse: collapse; }
th, td { border:1px solid #999; padding:2px 5px; }
th     { background:#e0e0e0; }

/*ブログタイトル*/
.title{
    font-size: 2.2rem;
    background:linear-gradient(transparent 95%, #999 0%);
    margin: 0 !important;
    padding: 0 !important;
}
/*ブログタイトル(まとめページ)*/
.view_title{
    text-decoration: none !important;
    color: black;
    padding: 0px !important;
}
/*投稿時間*/
.time{
    font-size: 0.9rem;
    text-align: right;
    margin: 0 !important;
    padding: 0 !important;
}
/*投稿タグ*/
.tag{
    font-size: 0.9rem;
    text-align: right;
    margin: 0 !important;
    padding: 1.3px !important;
    border: solid 1px #999;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    /*改行させない*/
    white-space: nowrap;
}
/*サイドバーのタグ*/
.tagSide{
    margin-bottom: 3px !important;
    margin-top: 3px !important;
}
/*プロフィール画像*/
.profile{
    width: 100%;
    height: 100%;
}
/*SNS画像(アイコン)*/
.sns{
    width: 30%;
}
/*SNSの文字*/
.sns_text{
    margin: 0;
    margin-top: 7px !important;
    padding: 0;
}
/*topにスクール*/
  .scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    background-color: #999;
    opacity: .8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    color: #fff;
  }
  .scroll-top:hover {
    cursor: pointer;
  }

/*SNS共有ボタン*/
  .shareSns {
    list-style: none;
    display: flex;
  }
   
  .shareSns li {
    text-align: center;
    /* background-color: #333; */
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
  }
   
  .shareSns li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 20px;
  }

.twitter{
    background-color: #1DA1F2;
    padding: 7px 30px !important;
    border-radius: 3px;
  }
.facebook{
    background-color: #1877F2;
    padding: 7px 30px !important;
    border-radius: 3px;
}
.getpocket{
    background-color: #F04052;
    padding: 7px 30px !important;
    border-radius: 3px;
}
.line{
    background-color: #00B900;
    padding: 7px 30px !important;
    border-radius: 3px;
}